body {
  margin: 0 auto;
  text-align: center;
  background-color: #9bb0c0;
}
h1 {
  color: #005500;
}
h2 {
  color: #b50000;
}
p {
  clear: both;
  color: #3b0073;
  font-size: 1.5em;
}
div {
  display: inline-block;;
}
.box {
  float: left;
  height: 100px;
  width: 100px;
  margin: 20px;
}
#red {
  background-color: red;
}
#yellow {
  background-color: yellow;
}
#green {
  background-color: green;
}
#blue {
  background-color: blue;
}
#purple {
  background-color: purple;
}
#orange {
  background-color: orange;
}
#maroon {
  background-color: maroon;
}
.pink {
  background-color: pink;
}
button {
  background-color: #634806;
  color: #00bfff;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 20px;
  font-size: 1em;
  box-shadow: 10px 10px 5px #888888;
}
