body {
  margin: 0 auto;
  text-align: center;
  background-color: floralwhite;
}
div {
  display: inline-block;;
}
.box {
  float: left;
  height: 100px;
  width: 100px;
  margin: 20px;
}
#red {
  background-color: red;
}
#yellow {
  background-color: yellow;
}
#green {
  background-color: green;
}
#blue {
  background-color: blue;
}
#purple {
  background-color: purple;
}
#orange {
  background-color: orange;
}
#maroon {
  background-color: maroon;
}
.pink {
  background-color: pink;
}

p {
  clear:both;
}
